// .navbar{
//     background-color: #ccdeff;
//     height: 100px;
// }

// .mainrow{
//     display: flex;
//     flex-direction: row;
//     height: calc(100vh - 100px);
// }

// .sidemenu{
//     background-color: #ffedcc;
//     min-width: 20vw;
// }

// .home{
//     background-color: lightgray;
//     min-width: calc(100vw - 20vw);
// }
.sidemenu {
    background: lightgrey;
  }
  
  
.grid {
    display: grid;
    height: 100vh;
    width: 100%;
  }